# VITE_APP_URL=https://https://cena.nerotechbenin.com/
# VITE_APP_API_URL=https://https://api.cena.nerotechbenin.com/api/ars/v1
# VITE_APP_RESOURCES_URL = https://https://api.cena.nerotechbenin.com/public/storage
# VITE_BACKOFFICE_URL=https://https://api.cena.nerotechbenin.com
# VITE_GA_ID=

VITE_APP_URL=http://localhost:5173
VITE_APP_API_URL=http://127.0.0.1:8000/api/cena/v1
VITE_APP_RESOURCES_URL=http://127.0.0.1:8000/public/storage
VITE_BACKOFFICE_URL=http://127.0.0.1:8000
VITE_GA_ID=