@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
}

.slide-container {
  width: 100%;
}

.slide-item {
  display: inline-block;
  width: 100%;
}